<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DChat 1.0</title>
    <link rel = "icon" href="/images/icon.png" type = "image/x-icon">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .content {
            height: 500px;
            overflow: auto;
            background: #fff;
        }
        .member {
            height: 100%;
            overflow: auto;
            background: #fff;
        }
        .username { font-weight: bold; }
        .icon {
            width: 70px;
            cursor: pointer;
        }
    </style>
</head>
<body style="background-color: #000;">
    <audio id="notisound" controls style="display:none">
        <source src="sounds/notification.wav" type="audio/mpeg">
    </audio>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-9"><div class="content"></div></div>
            <div class="col"><div class="member"></div></div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 4px;" id="emo"></div>
        </div>
        <div class="row">
            <div class="col-9" style="margin-top: 4px;"><input id="msg" style="width: 85%;"/><button id="sendMsgBtn" class="btn-danger" style="margin-left: 2%; width: 13%; border-radius: 4px;">Send</button></div>
        </div>
    </div>

    

    <script src="/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let contentEle = document.querySelector(".content")
        let memberEle = document.querySelector(".member")
        let emoEle = document.querySelector("#emo")
        let msgEle = document.querySelector("#msg")
        let sendMsgBtn = document.querySelector("#sendMsgBtn")


        var socket = io.connect()
        var mySocketId = -1
        socket.emit('initial', '')
        socket.on('getSocketId', sid => {
            if (mySocketId == -1) mySocketId = sid
        })
        socket.on('getEmotion', emoArr => {
            if (emoEle.innerHTML.length < 1) {
                for (let i = 0; i < emoArr.length; i++) {
                    let img = document.createElement('img')
                    img.classList.add("icon")
                    img.src = "/images/emotion/" + emoArr[i] + ".gif"
                    img.addEventListener('click', e => {
                        msgEle.focus()
                        msgEle.innerHTML = msgEle.innerHTML + '/' + emoArr[i]
                    })
                    emoEle.appendChild(img)
                }
            }
        })
        
        const sendMsg = (e) => {
            if (msgEle.value) {
                socket.emit('sendMsg', msgEle.value)
                msgEle.value = ''
            }
        }

        msgEle.addEventListener('keypress', (e) => {
            if (event.keyCode === 13) {
                event.preventDefault()
                sendMsg()
            }
        })
        sendMsgBtn.addEventListener('click', sendMsg)

        socket.on('getMsg', (data) => {
            let lastContent = contentEle.innerHTML
            contentEle.innerHTML = (lastContent ? lastContent + "<br>" : "") + data.msg
            contentEle.scrollTop = contentEle.scrollHeight;
            if (data.senderSid != -1 && data.senderSid != mySocketId) document.getElementById("notisound").play();
        })
        socket.on('getOnlineUser', result => {
            document.querySelector(".member").innerHTML = result
        })


        // Change Username
        Swal.fire({
            title: 'Type your name',
            input: 'text',
            inputAttributes: { autocapitalize: 'off', maxlength: 10 },
            showCancelButton: true,
            confirmButtonText: 'OK',
            showLoaderOnConfirm: true,
            preConfirm: (xxx) => { return {'xxx' : xxx} },
            allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
            if (result.isConfirmed) {
                socket.emit('changeUsername', result.value.xxx)
            }
            else {
                socket.emit('changeUsername', "")
            }
            msgEle.focus()
        })



    </script>
</body>
</html>